.notification {
  display: flex;
  font-family: "Inter";
  gap: 11px;
  align-items: start;
}

.notificationInfo {
    padding: 0;
    // padding-top: 2.75rem;
  width: 44%;
  h4 {
    color: var(--Background---F2F2F2, #f2f2f2);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 1rem 0px;
  }
  p {
    color: var(--Background---F2F2F2, #f2f2f2);

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
  }
}

.notificationCarousel{
    display: flex;
    padding-left: 46px;
    // padding-top: 48px;
    padding-bottom: 84px;
    width: 56%;
    overflow: hidden;
}

@media only screen and (max-width:500px) {
    .notification{
        display: flex;
        flex-direction: column;
    }
    .notificationInfo{
        width: 60%;
    }
    .notificationCarousel{
        width: 100%;
        padding: 0;
    }
    
}