* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

.mainContainer {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}

.pageContent {
  width: 55%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-direction: column;
  align-items: start;
  padding-left: 3.75rem;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
  overflow: hidden;
}

@media only screen and (max-width: 1280px) {
  .pageContent {
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 1130px) {
  .pageContent {
    padding-left: 3rem;
    padding-bottom: 2rem;
    padding-top: 8rem;
  }
}

@media only screen and (max-width: 1130px) {
  .pageContent {
    padding-left: 3rem;
    padding-bottom: 2rem;
    padding-top: 8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .pageContent {
    padding-left: 3rem;
    padding-bottom: 2rem;
    padding-top: 8rem;
  }

  .mainContainer{
    display: flex;
    flex-direction: column;
  }
  .pageContent{
    width: 100%;
  }
}